.about {
  float: right;
  size: 100%;
  padding: 10px;
  margin: 10px;
}

.text1,
.text2 {
  max-width: 540px;
  max-height: 419px;
  float: left;
}

.main-content {
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

.some {
  display: block;
  padding: 10px 10px 0px 10px;
  margin: 10px 10px 0px 10px;
}
