.home-first {
  display: inline-block;
}

.home-first img {
  width: 100%;
  max-width: 880px;
  max-height: 320px;
  float: left;
  margin: 10px 10px 10px 0px;
}

.home-first p h1 {
  padding: 10px 0px 10px 10px;
  max-width: 880px;
  max-height: 320px;
  overflow: auto;
}

.home-second {
  display: inline-block;
}

.home-second img {
  width: 100%;
  max-width: 880px;
  max-height: 320px;
  float: right;
  margin: 10px 0px 10px 10px;
}

.home-second p h1 {
  padding: 10px 10px 10px 0px;
  max-width: 880px;
  max-height: 320px;
  overflow: auto;
}
