.home-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.home-first img {
  flex: 1;
  order: 1;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 880px;
  max-height: 320px;
}

.textbox1 {
  flex: 1;
  order: 2;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 880px;
  max-height: 320px;
}

.home-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.home-second img {
  flex: 1;
  order: 1;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 880px;
  max-height: 320px;
}

.textbox2 {
  flex: 1;
  order: 2;
  padding: 10px;
  margin: 10px;
  max-width: 880px;
  max-height: 320px;
}

@media only screen and (min-width: 660px) {
  .home-first {
    flex-direction: row;
  }
  .home-second {
    flex-direction: row-reverse;
  }
}
