@font-face {
  font-family: "Roadgeek 2005 Mittelschrift";
  src: url("roadgeek-2005-mittelschrift.ttf") format("ttf");
}

body {
  background-color: white;
  font-family: "Roadgeek 2005 Mittelschrift", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 43px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

a {
  border: 2px #8f3e00;
  color: #8f3e00;
}

a:hover {
  border: 2px #8f3e00;
  color: #8f3e00;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 4px 15px;
  font-size: 30px;
}

nav a:hover {
  background-color: #8f3e00;
  color: white;
}

.current {
  text-decoration: underline;
}

.menu {
  background-color: #0b3a40;
  padding: 10px;
  margin: 2px;
}

footer {
  background-color: #0b3a40;
  color: white;
  padding: 10px;
}

header img {
  width: 100%;
}

form {
  background-color: lightgray;
}

.logo {
  width: 40%;
  margin: 0px auto;
}
